.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em;
	background-color: black;
}

.header img {
	width: 80px;
}

.header .navBar {
	position: absolute;
	inset: 0;
	top: 90px;
}

.header .navBar ul {
	display: flex;
	list-style-type: none;
	gap: 1em;
	flex-direction: column;
	height: 100dvh;
	background-color: grey;
	justify-content: center;
	align-items: center;
	/* height: 0;
	overflow: hidden; */
}

.header ul a:hover {
	background-color: grey;
}
